body, html {
  margin: 0;
  font: caption;
  height: 100%;
  background-color: #242A3B;
}

.editor-clm {
  display: flex;
  flex-direction: column;
}

.gjs-block {
  width: auto;
  font-size: 5px;
  justify-content: center;
  height: auto;
  min-height: auto;
}

.gjs-block-label {
    display: none;
}

.gjs-blocks-cs {
    border: 1px solid rgba(0,0,0,0.3);
    border-top: none;
}

/* Theming */
.gjs-one-bg {
  background-color: #242A3B; 
}

.gjs-three-bg {
  background-color: #1E8FE1;
  color: white;
}

.gjs-four-color,
.gjs-four-color-h:hover {
  color: #1E8FE1;
}

.gjs-pn-devices-c {
    border: 0!important;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Block */
.gjs-block {
    border-radius: 0;
    border: 0!important;
}

.gjs-field.gjs-select {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.gjs-field.gjs-select::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 2px;
    right: 2px;
    height: 1px;
    border-radius: 0 0 8px 8px;
    pointer-events: none;
}

.gjs-select option {
    color: inherit!important;
    background-color: #242A3B;
}

.gjs-field.gjs-select .gjs-sel-arrow {
    display: none !important;
}

.gjs-clm-states {
    padding-left: 10px;
    padding-right: 15px;
}