.gjs-pn-btn svg,
.gjs-pn-btn i,
.gjs-block svg,
.gjs-block i,
.gjs-layer svg,
.gjs-layer i,
.gjs-sm-property svg,
.gjs-trt-trait svg {
    fill: #000 !important;
    color: #000 !important;
    stroke: #000 !important;
}

.gjs-pn-btn:hover svg,
.gjs-pn-btn.gjs-pn-active svg {
    fill: #000 !important;
    color: #000 !important;
}

.gjs-block svg,
.gjs-block i {
    fill: #000 !important;
    color: #000 !important;
}

#gjs * svg {
    fill: #000 !important;
    stroke: #000 !important;
}

.gjs-pn-btn {
    color: #000 !important;
}

/* FontAwesome icons */
.gjs-pn-btn.fa::before {
    color: #000 !important;
}

/* Hover & active */
.gjs-pn-btn:hover,
.gjs-pn-btn.gjs-pn-active {
    color: #000 !important;
}

.gjs-pn-btn:hover::before,
.gjs-pn-btn.gjs-pn-active::before {
    color: #000 !important;
}

/* Override GrapesJS color utility */
.gjs-four-color,
.gjs-three-color,
.gjs-two-color {
    color: #000 !important;
}

.gjs-pn-panel,
.gjs-pn-panels,
.gjs-pn-views-container {
    border-color: #000 !important;
}

.gjs-pn-panel {
    border-right: 1px solid #000 !important;
}

/* Panel kanan (Style / Trait) */
.gjs-trt-traits,
.gjs-sm-properties {
    border-left: 1px solid #000 !important;
}

/* Block */
.gjs-block {
    border: 1px solid #000 !important;
}

/* Canvas wrapper */
.gjs-cv-canvas {
    border: 1px solid #000 !important;
}

/* Toolbar atas */
.gjs-toolbar {
    border-bottom: 1px solid #000 !important;
}

.gjs-pn-devices-c {
    border-bottom-width: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Sidebar */
.gjs-pn-panel {
    background: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

/* Button */
.gjs-btn {
    background: #0d6efd;
    color: #fff;
    border-radius: 0.375rem;
}

.gjs-btn:hover {
    background: #0b5ed7;
}

/* Block */
.gjs-block {
    border-radius: 0;
    border: 0!important;
}


.gjs-block-category .gjs-title,
.gjs-category-title,
.gjs-layer-title,
.gjs-sm-sector-title,
.gjs-trait-category .gjs-title {
    color: #ffffff !important;
}

/* Text block item */
.gjs-block-label {
    color: #ffffff !important;
}

/* Caret / panah kategori */
.gjs-caret-icon::before {
    color: #ffffff !important;
}